spring:
  jpa:
    hibernate:
      ddl-auto: create-drop

app:
  kafka:
    topic:
      inventory-success: inventory-success
      inventory-fail: inventory-fail
      orchestrator: orchestrator
    topic-config:
      partitions: 1
      replicas: 1

server:
  port: 8092

logging:
  level:
    org:
      apache:
        kafka: OFF